body{
    background-color: #ef950d;
    font-family: Arial, sans-serif;
    margin: 0;
    display: block;
    padding: 20px;
}
h1{
    color: rgb(39, 39, 41);
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 20px;
}